<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboardInputStyle.css">
    <script>
      function toggleWindow(id, hide) {
        document.getElementById(id).hidden = hide;
      }      
    </script>
</head>
<body>
    <div class="mainGrid">
        <header>
            <div id="logo">
                <a href="/">AMPLify.</a>
            </div>
            <nav>
                <ul>
                    <% if(admin){ %> <li><a href="/new_expense">Expenses</a></li> <% } %>
                    <li><a href="#">Expenditure</a></li>
                    <% if(admin){ %> <li><a href="/register">Register</a></li> <% } %>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            Profile, helplines
        </main>
        <footer>
            &copy; 2021 AMPlify, Team 2.
        </footer>
    </div>
</body>