<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="mainGrid">
        <header>
            <div class="logo">
                <p>
                    AMPlify...
                </p>
            </div>
            <div class="description">
                <p>
                    "amplify your apartment experience"
                </p>
            </div>
        </header>
        <main>
            <section></section>
            <aside>
                <div class="loginForm">
                    <p>
                        Login
                    </p>
                    <form method="POST">
                        <div class="textField">
							<input id="username" name="username" type="text" placeholder="Username: " required>
						</div>
						<div class="textField">
							<input id="password" name="password" type="password" placeholder="Password:" required>
						</div>
                        <div class="forgotPassword">
                            forgot password ?
                        </div>
                        <% if (messages.error) { %>
                            <%= messages.error %>
                        <% } %>
                        <div class="submitField">
                            <input type="submit" value="Login">
                        </div>
                        <div class="signup">
                            not a member ? <a href="#">SIGN UP</a>.
                        </div>
                    </form>
                </div>
            </aside>
        </main>
        <footer>
            <p>
                &copy; AMPlify, by Team 2.
            </p>
        </footer>
    </div>
</body>
</html>