<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="expensesStyle.css">
</head>
<body>
    <div class="mainGrid">
        <header>
            <div class="logo">
                <a href="/">AMPLify.</a>
            </div>
            <nav>
                <ul>
                    <% if(admin){ %> <li><a href="/new_expense">Expenses</a></li> <% } %>
                    <li><a href="/expenditure">Expenditure</a></li>
                    <% if(admin){ %> <li><a href="/register">Register</a></li> <% } %>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <div class="register">
					<form action="/register" method="POST">
                        <div>
                            <label for="name">Full Name</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="doorNumber">Door No.:</label>
                            <input type="text" id="doorNumber" name="doorNumber" required>
                        </div>
                        <div>
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Register</button>
                    </form>
                    <% if ( messages.info ) { %>
                        <p>
                            <%= messages.info %>
                        </p>
                    <% } %>
                </div>
            </section>
        </main>
        <footer>
            &copy; AMPlify, by Team 2.
        </footer>
    </div>
</body>
</html>
