<div class="form" id="water-booking-form" hidden>
    <h3>Water - Bookings</h3><span onclick="toggleWindow('water-booking-form', true)">X</span>
    <form action="POST">
        <div class="dateField">
            <input type="date" name="when paid" required>
        </div>
        <div class="textField">
            <input type="text" placeholder="who paid" required>
        </div>
        <div class="textField">
            <input type="text" placeholder="quantity" required>
        </div>
        <div class="textField">
            <input type="text" placeholder="how much" required>
        </div>
        <input type="submit" value="Update">
    </form>
</div>